@model App
@{
    ViewBag.Title = "查看Secret";
    ViewBag.Current = "app-my";
}

<div class="cont-body">
    <h3>查看Secret</h3>
    <pre>@Model.Secret</pre>
    <p><a class="btn btn-default" href="javascript:window.history.go(-1);">返回</a></p>
</div>