@{
    ViewBag.Title = "新建应用";
    ViewBag.Current = "app-new";
}

@section Navigator {
    <div class="columns">
        <div class="location-path">
            / <a href="/">Pomelo Alert Platform </a> /
        </div>
        <h1 class="location-current" data-emoji-enabled="">@ViewBag.Title</h1>
    </div>
}

<div class="cont-body">
    <h3>创建应用</h3>
    <form asp-action="NewApp">
        <p>
            <label>App 名称</label>
            <input type="text" class="form-control" name="name" />
        </p>
        <p>
            <input type="submit" value="提交" class="btn btn-default" />
        </p>
    </form>
</div>