@model App
@{
    ViewBag.Title = "查看Secret";
    ViewBag.Current = "app-my";
}

@section Navigator {
    <div class="columns">
        <div class="location-path">
            / <a href="/">Pomelo Alert Platform </a> /
        </div>
        <h1 class="location-current" data-emoji-enabled="">@ViewBag.Title</h1>
    </div>
}

<div class="cont-body">
    <h3>查看Secret</h3>
    <pre>@Model.Secret</pre>
    <p><a class="btn btn-default" href="javascript:window.history.go(-1);">返回</a></p>
</div>