@model Device
@{
    ViewBag.Title = "设备信息";
    ViewBag.Current = "system-hardware";
}

@section Navigator {
    <div class="columns">
        <div class="location-path">
            / <a href="/">Pomelo Alert Platform </a> /
        </div>
        <h1 class="location-current" data-emoji-enabled="">@ViewBag.Title</h1>
    </div>
}

<div class="cont-body">
    <h3>设备信息</h3>
    <p><label>Device ID</label><br />@Model.Id</p>
    <p><label>Secret</label><pre>@Model.Secret</pre></p>
    <p><a class="btn btn-default" href="javascript:window.history.go(-1);">返回</a></p>
</div>